.layout {
    display: flex;
    flex-direction: column;
    height: 35vh;
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }

.sidebar {
    width: 50px;
    background-color: #F0F5FA;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
.sidebar ul li a{
    
    color: #000046;
}

  

